@tailwind base;
@tailwind components;
@tailwind utilities;

.streak-card {
    @apply bg-[#118AB2] text-white rounded-lg shadow-lg flex flex-col items-center justify-center py-6 px-4 
      transition-transform duration-300 hover:scale-105;
  }
  